*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
 
}
.nav__celu{

    i{
        font-size: 35px;
    }

    ul{
        position: absolute;
        z-index: 1;
        left: 0;
        top: 25%;
        background-color: rgba(48, 208, 155, 0.881);
        width: 100%;
        display: none;
       
 
      

        li{
            padding: 20px 0;
            right: 50px;
            text-align: center;
            


            a{
                font-weight: bold;
                width: 100%;
            }

           


        }
    }

    &:hover ul{
        display: block;
    }
}
.chat{
    position: relative;
    left: 250px;
}
.tilulo__chatp{
    display: inline-block;
    position: relative;
    max-width: 250px;
    // max-width: 50px;
}
.display-font-sizesz{
    max-width: 250px;
}
main p{
    padding: 10px;
    max-width: 380px;
}
body{
background-color: aquamarine;

}

main{
    height: 50%;
}


span{
    font-size: 20px;
    padding: 10px;
    margin-left: 25px;
}
h2{
    overflow-y: hidden;
  }
.chat-container {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    max-height: 100%;
    border: 5px solid #f1aa1c;
    max-width: 350px;
    }
    
    .chat-header {
    padding: 10px;
    background-color: #075e54;
    color: #fff;
    background-color: rgba(48, 208, 155, 0.881);
    }
    
.chat__img{
    width: 125px;
    height: 125px;
    display: flex;
    align-items: space-between;
}

    .chat-messages {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    background-color: rgba(48, 208, 155, 0.881);
    }
    
    .chat-messages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    .chat-messages li { 
    margin-bottom: 10px;
    }
    
    .chat-footer {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(48, 208, 155, 0.881);
    }
    
    .chat-footer input[type="text"] {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    }
    
    .chat-footer button {  
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #128c7e;
    color: #fff;
    cursor: pointer;
    }

    .rrss{
        $socialIconos:(
          twitter: #87ceeb,
          instagram: #f27d90,
          facebook: #0000ff,
          whatsappp: #20cb20,
          google-play: #d81515,
          tiktok: #000000c8
          );  
    
          @each $socialName, $socialColors in $socialIconos {
              .#{$socialName} {
                  color: white;
                  font-size: 30px;
                  text-align: center;
    
                  &:hover{
                      color: $socialColors;
                  }
              }
    
          }
      }
    
    
      .footer__chat{
        height: 200px;
      }

      .whatsapp{
        position: fixed;
        bottom: 40px;
        right: 20px;
        
      }
    @media (min-width: 768px  ){
        .display-font-sizesz{
            max-width: 650px;
            display: inline-block;
            position: relative;
            left: 250px;
        }
        
        main p{
            padding: 10px;
            max-width: 3800px;
        }
        .chat-container {
            display: flex;
            flex-direction: column; 
            height: 100vh;
            max-height: 100%;
            border: 5px solid #f1aa1c;
            max-width: 2000px;
            }
            .footer__chat{
                height: 200px;
              }
              h2{
                overflow-y: hidden;
              }
    }